body{
    background-image: url('C:/Users/User/Desktop/Project/images/canon.jpg');
    max-width: 1500px;
}
.container{
    margin: 0 auto;
}
.header{
display: flex;
justify-content: center;
font-family: 'Kablammo', cursive;
font-size: larger;
margin-top: 40px;
border-style: double;
border-radius: 40px;
line-height: 60px;
text-shadow: 8px 8px rgb(73, 140, 25,0.3);
animation: header 10s infinite;
}
@keyframes header {
    20%{
        color: aqua;
    }
    40%{
        color: blue;
    }
    60%{
        color: blueviolet;
    }
    80%{
        color:cyan
    }
    100%{
        color: darkorchid;
    }
}
.hi{
    font-size: 30px;
    margin-left: 15px;

}
.men, .girl {
    font-size: 25px;
    font-family: 'Tilt Prism', cursive;
    display: inline-block;
    line-height: 20px;
    margin-left: 32px;
}
.btn-men {
   margin-left: 40px;
   width: 400px;
   color: transparent;
}
.btn-men:focus {
color: black;
}
.btn-men:hover {
    border-color:goldenrod ;
}
.btn-girl {
    margin-left: 40px;
    border-bottom-color: aqua ;
    border-radius: 15px;
    border-top-color: chartreuse;
    border-right-color: chartreuse;
    border-left-color: chartreuse;
    color: transparent;
    text-decoration-style: double;
    width: 400px;
    }
.btn-girl:focus {
    color: black;
}
.btn-girl:hover {
    border-color: rgb(230, 24, 72);
}
.enter-name{
    font-family: 'Comforter', cursive;
    
}
.text{
   height: 50px;
   width: 50px;
}
.hiddenText-female{
    display: none;
}
#hiddenText-female,
#hiddenText-male {
    display: none;
}

.anim {
    white-space: nowrap;
    overflow: hidden;
   }

.forGo {
    display: flex;
}


.anim-mirrow{
    animation: rainbow 10s alternate-reverse ;
  }
  @keyframes rainbow {
    0% { 
        font-size: 16px;
        color: rgb(55, 0, 255);
    }
    20% { 
        font-size: 20px;
        color: rgb(206, 22, 200);
    }
    40% {
        font-size: 24px; 
        color: rgb(255, 115, 0);
    }
    60% { 
        font-size: 28px; 
        color: aqua;
    }
    80% {
        font-size: 30px; 
        text-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    }
    100% {
        font-size: 23px;
        text-shadow: 0 0 60px rgba(255, 255, 255, 0.1);
    }
}
  
  
  .anim-mirrowTwo{
    animation: rainbow-mirrow 4s 3 alternate-reverse ;
  }
  @keyframes rainbow-mirrow {
    0% {
        transform: translateY(0) rotate(0deg);
      }
      10% {
        transform: translateY(-10px) rotate(10deg);
        box-shadow: 0px 0px 5px #FFF, 0px 0px 15px #FFF, 0px 0px 20px #FFF, 0px 0px 30px #09F, 0px 0px 40px #09F, 0px 0px 50px #09F, 0px 0px 60px #09F, 0px 0px 70px #09F;
      }
      20% {
        transform: translateY(-20px) rotate(20deg);
        box-shadow: 0px 0px 5px #FFF, 0px 0px 15px #FFF, 0px 0px 20px #FFF, 0px 0px 30px #0F0, 0px 0px 40px #0F0, 0px 0px 50px #0F0, 0px 0px 60px #0F0, 0px 0px 70px #0F0;
      }
      30% {
        transform: translateY(-30px) rotate(30deg);
        box-shadow: 0px 0px 5px #FFF, 0px 0px 15px #FFF, 0px 0px 20px #FFF, 0px 0px 30px #F90, 0px 0px 40px #F90, 0px 0px 50px #F90, 0px 0px 60px #F90, 0px 0px 70px #F90;
}}

.textSpan {
    animation: flash 3s infinite;
}
@keyframes flash {
  0% {
    color: rgb(30, 0, 128);
  }
  50% {
    color: rgb(7, 155, 181);
  }
  100% {
    color: rgb(75, 226, 29);
  }
  }
